* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  // background: $background-color;
  // font-family: $font-name;
  // font-family: "Raleway", sans-serif;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Work Sans", Arial, sans-serif;
}
