$white: #ffffff;
$base-width: 1200px;
$green: #3bc053;
$lightGray: #ffffffcc;
$darkGray: #404040;
$formGray: #828282;

$h1_black: #000;
$h1_blue: #2f89fc;
$p_black: #000;

$blue: #0c74fa;
$blue2: #3089fc;
$blue3: #32c8fa;
$blue4: #4495ff;

$orange: rgb(255, 146, 37);
$orange2: #ff8001;
$orange3: #ff9328;
